<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="left">
                left section here
            </div>
            <div class="right">
                <h3 class="title">Control Panel</h3>
                <p class="sub-title">
                    enter your credentials to access your account
                </p>
                <div class="control-panel">
                    <label class="label">username</label>
                    <input type="text" placeholder="*****" />
                    <label class="label">Encryption Key</label>
                    <input type="password" placeholder="***********"/>
                </div>
                <button class="access-button">Access Now</button>
            </div>
        </div>
    </div>
</body>
</html>